<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/custom :: head_html " >
    
  </head>

  <body class="nav-md " >
  
 
    <div class="container body">
      <div class="main_container">
        <div th:replace="layout/custom :: leftcol " class="col-md-3 left_col">
       
        </div>

        <!-- top navigation -->
        <div th:replace="layout/custom :: top_navigation_html " class="top_nav">
      
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
      
      
      
     
	
	<br>

	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
				  <th>Tên công ty</th>
                          <th>Mã số thuế</th>
                          <th>Lĩnh vực hoạt động</th>
                          <th>Địa chỉ</th>
                          <th>số nhân viên</th>
                          <th>Vôn điều lệ</th>
                          <th>Tổng tiền các DV</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.getTencongty()}"></td>
					<td th:text="${employee.getMaSoThue()}"></td>
					<td th:text="${employee.getLinhVucHoatDong()}"></td>
					<td th:text="${employee.getDiaChi()}"></td>
					<td th:text="${employee.getSoNhanVien()}"></td>
					<td th:text="${employee.getVonDieuLe()}"></td>
					<td th:text="${employee.getTongtien()}"></td>
					
					  
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="page" th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalPages}]] 
				</div>
				<div class = "col-sm-7">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/tongketien/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/tongketien/'+ ${currentPage + 1}} ">Next</a>
					<span   th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/tongketien/'+ ${totalPages} }">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div> 
		
		
	
    
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
		   	 </div>
		 	</div>        
		  </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout/custom :: footer_html ">
         
          
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
	 <div th:replace="layout/custom ::footer"></div>
	 
	 
  </body>
</html>